    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="about-section">
            <div class="container">
                <div class="aboutcontent" class="row">
                    <div class="col-sm-5 col-lg-5 ">
                        <h2 class="quote">LET ME<br> INTRODUCE MYSELF</h2>
                        <a class="cvbutton" href="img/Irene-marcuello_CV.pdf" download="Irene_Marcuello_CV.pdf">
                            <button class="btndwl"><i class="fa fa-download"></i> DOWNLOAD</button>
                        </a>
                    </div>
                    <div class="col-sm-7 col-lg-7">
                        <p>I’m Irene Marcuello Gallardo an artist settled in Barcelona. I specialize myself in graphic design and UI.<br> 
                            <br>
                            I’m a design graduate with mention in visual creation in EINA, Barcelona. This background gave a stong toolset of visual development which allowed me to merge my knowledge with my passion, videogames.
                            Since then I’m keen on following my dream. 
                            <br><br>
                            I’ve completed a master in Art and animation for AAA videogames in the UPC (Universitat Politènica de Catalunya) and put myself through some projects and experiences to test myself.<br><br> 
                            Right now I’m looking somewhere to work. If you liked my projects, please feel free to download my CV down below to get further information.
                            </p>
                    </div>
        </div>
    </section>
