    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-5">
                    <h2 class="findertitle">F1ND-R</h2>
                    <p class="findercontent">A lot of people on the universe lost their items and go to the Lost Dimension where F1ND-R will have to collect and deliver all the items in time to their clients. A videogame developed in the Global game jam 2021 under the theme of Lost and found.</p>
                    <a href="https://www.behance.net/gallery/112817221/F1ND-R-VIDEGAME-UI" class="btnfinder">KNOW MORE</a>
                </div>
                <div class="col-lg-7">
                    <img src="img/PROJECT_FINDER.png" alt="">
                </div>
            </div>
        </div>
    </section>