<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-5">
                <h2 class="findertitle">F1ND-R</h2>
                <p class="findercontent">Develop a consistent  UI in less than 48h is a true challange. In this game jam I tried to focus myself into creating something with the resources that I had handy but yet still interesting.<br>
                    The result it's a playful interface that reinforces the technological aspect of the videogame and follows the cartoonish artstyle that we went for.

                    In this case the UI tried to enhance and improve the game to create a better experience.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btnfinder">KNOW MORE</a>
            </div>
            <div class="col-lg-7">
                <img src="../img/PROJECT_FINDER.png" alt="">
            </div>
        </div>
    </div>
</section>