    <!-- Download Section -->
    <section id="twinlight" class="content-section text-center">
        <div class="twinlight-section">
            <div class="container">
                <div class="col-lg-5">
                    <h2 class="twintitle">TWINLIGHT SOULS</h2>
                    <p class="twincontent">
                        Save the forest of Niberry fighting the darkness and bring back life! A cooperative hack n slash that will transport you to the magical adventures. A videogame developed as a final project of the master's degree in AAA videogames at the UPC</p>
                    <a href="https://www.behance.net/gallery/112822237/TWINLIGHT-SOULS-UI" class="btndwl">KNOW MORE</a>
                </div>
                <div class="col-lg-7">
                    <img src="../img/TWINLIGHT_PROJECT.png" alt="">
                </div>
            </div>
        </div>
    </section>